
body{
    background-color: #2146C7;
}

.bg-register{
    background-image: url('../img/register.png');
    background-size: cover;
}

.title-register{
    color: #2146C7;
    font-weight: 700;
}

.text-register{
    color: #82ABDE;
    font-size: 15px;
}

.btn-register{
    background-color: #2146C7;
    font-weight: 600;
}

.bayangan{
    box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.2);
}

.bg-input{
    background-color: #EEEEEE;
}

.bg-animate{
    background-color: #2146C7;
}

.text-profile{
    font-size: 25px;
}

.menu-sidebar{
    text-decoration: none;
    color: white !important;
    font-size: 18px;
    font-weight: 600;
}

.dekorasi{
    background-color: #2146C7;
}

.warna{
    background-color: rgb(201, 201, 0) !important;
}

/* admin */
.content-wrapper{
    background-color: #d2d6de;
}
